<li class="SC-Menu_item dropdown">
  {%- if current_customer != blank %}
    {%- require "scripts/nav.js" -%}
    {%- comment -%} ADA Compliance: Added aria-label for account icon accessibility {%- endcomment -%}
    <a href="{{ current_store.account_path }}" class="SC-Menu_link" data-nav-trigger="account" aria-label="Account">
     <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="sc-pointer-events-none" aria-hidden="true"><path d="M18 20a6 6 0 0 0-12 0"></path><circle cx="12" cy="10" r="4"></circle><circle cx="12" cy="12" r="10"></circle></svg>
    </a>

    <ul class="SC-Menu dropdown" data-nav="account" style="min-width: max-content !important;>
      <li class="SC-Menu_item sc-text-right sc-hide-medium-and-up">
  <button class="SC-Menu_button"
          type="button"
          data-nav-close="account"
          aria-label="Close account menu">
    <svg width="24" height="24" viewBox="0 0 16 16" fill="none"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M12 4L4 12M4 4L12 12"
            stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </button>
</li>

      {%- if current_customer.account != blank and current_customer.account.name != blank and current_customer.account.name != current_customer.name %}
        <li><h3>{{ current_customer.account.name }}</h3></li>
      {%- endif %}
      <li class="SC-Menu_item">
        <a class="SC-Menu_link" href="{{ current_store.account_path }}">
          {{ "header.dropdowns.account.profile" | t }}
        </a>
      </li>
      <li class="SC-Menu_item">
        <a class="SC-Menu_link" href="{{ current_store.orders_path }}">
          {{ "header.dropdowns.account.orders" | t }}
        </a>
      <li class="SC-Menu_item">
        <a class="sc-hide" href="{{ current_store.subscriptions_path }}">
          {{ "header.dropdowns.account.subscriptions" | t }}
        </a>
      </li>
      {%- if current_account.account_credits.size > 0 and current_customer.can_use_account_credit? %}
        <li class="SC-Menu_item">
          <a class="SC-Menu_link" href="{{ current_store.account_credits_path }}">
            {{ "header.dropdowns.account.account_credits" | t }}
          </a>
        </li>
      {%- endif %}
      {%- if current_store.display_points? and current_customer.can_use_account_points? %}
        <li class="SC-Menu_item">
          <a class="SC-Menu_link" href="{{ current_store.account_points_path }}">
            {{ "header.dropdowns.account.account_points" | t }}
          </a>
        </li>
      {%- endif %}
      {%- if current_account.product_approvals.size > 0 %}
        <li class="SC-Menu_item">
          <a class="SC-Menu_link" href="{{ current_store.product_approvals_path }}">
            {{ "header.dropdowns.account.product_approvals" | t }}
          </a>
        </li>
      {%- endif %}
      <li class="SC-Menu_item">
        <a href="{{ current_store.logout_path }}" data-method-delete class="SC-Menu_link">
          {{ "header.dropdowns.account.logout" | t }}
        </a>
      </li>
    </ul>
  {%- else %}
    {%- comment -%} ADA Compliance: Added aria-label for login icon accessibility {%- endcomment -%}
    <a href="{{ current_store.login_path }}" class="SC-Menu_link" aria-label="Log In">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="#ffffff" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-round-icon lucide-circle-user-round" aria-hidden="true"><path d="M18 20a6 6 0 0 0-12 0"></path><circle cx="12" cy="10" r="4"></circle><circle cx="12" cy="12" r="10"></circle></svg>
    </a>
  {%- endif %}
</li>