{%- liquid 
  assign alignment = content_block.alignment | default: blank
  assign type = content_block.sub_type | default: blank
  assign count = content_block.products | size 

  case alignment 
    when blank
      assign alignment_class = "sc-align-items-left"
    when "left" 
      assign alignment_class = "sc-align-items-left" 
    when "center" 
      assign alignment_class = "sc-align-items-center" 
    when "right" 
      assign alignment_class = "sc-align-items-end" 
  endcase 
-%}

<section class="SC-FeaturedProducts sc-expand tns-cards{% if type != blank %} {{ type }}{% endif %}"
         id="SC-ContentBlock-{{ content_block.identifier }}">
  {%- if content_block.title != blank or content_block.subtitle %}
    <div class="SC-FeaturedProducts_header sc-flex-col sc-ms-auto{% if alignment_class != blank %} {{ alignment_class }}{% endif %}">
      {%- if content_block.title != blank %}
        <h2 class="sc-font-bold">{{ content_block.title }}</h2>
      {%- endif %}
      {%- if content_block.subtitle != blank %}
        <p class="sc-font-large">{{ content_block.subtitle }}</p>
      {%- endif %}
    </div>
  {%- endif -%}

  {%- if count <= 3 %}
    <div class="sc-grid sc-two-to-three-column sc-gap sc-ms-auto">
      {%- for product in content_block.products %}
        {%- render "products/card", product: product %}
      {%- endfor %}
    </div>
  {%- elsif count >  3 %}
   <div class="sc-ms-auto">
      <div data-featured-slider="{{ content_block.identifier }}">
        {%- for product in content_block.products %}
          <div>
            {%- render "products/card", product: product %}
          </div>
        {%- endfor %}
      </div>
    </div>
  {%- endif %}

  {%- if content_block.link_label %}
    <div class="SC-FeaturedProducts_footer sc-flex sc-justify-center sc-mt-large sc-max-width sc-ms-auto">
      <a href="{{ content_block.link_target }}" class="SC-Link">
        <span>{{ content_block.link_label }}</span>
      </a>
    </div>
  {%- endif %}
</section>