<div class="SC-Modal is-active" data-modal="SC-Cart">
  <div class="SC-Modal_inner SC-Modal_inner-skinny SC-Modal_inner-login sc-border-rounded sc-shadow-2">

    <div class="sc-modal_header sc-flex sc-align-items-center sc-justify-space-between sc-pos-relative sc-ps-large sc-pt">
      <div class="sc-modal_branding">
        <a href="{{ curent_store.home_page.path }}" class="sc-modal_logo sc-ms-auto">
          <img src="{{ all_media['bluegrass-never-underestimate-you-image'].url }}" alt="{{ all_media['bluegrass-logo'].alt_text }}" loading="lazy">
        </a>
      </div>
    </div>

    <div class="sc-p-large">
      <div class="sc-expand">
        <h3 class="sc-font-medium sc-font-bold">{{ 'cart.modal.login_title' | t }}</h3>
      </div>

      {%- default only_sso_provider: null -%}

      <div class="sc-flex-col sc-gap-large sc-expand sc-mt">
        <div>
          {%- render "shared/cart/register_button" %}
        </div>
        <div>
          <p class="sc-font-medium sc-font-bold">{{ "auth.login.heading" | t }}</p>
          {% assign block = current_store.id | append: "-login-introduction" %}
          {{ all_content_blocks[block] | try: "render" }}
          {% render "account/login/form_cart", focus: true, only_sso_provider: only_sso_provider %}
        </div>
      </div>
    </div>
  </div>

  <div class="SC-Modal_overlay" data-modal-trigger="SC-Cart"></div>
</div>